<!DOCTYPE html>
<html>
<head>
	<title>Veterinary Record</title>
	<meta charset="utf-8">
</head>
<body>
	<form action="#">
		
        Pet:<input type="text" required><br>
        symptoms:<input type="textarea" required ><br>
        applied treatment:<input type="textarea" required><br>
        <input type="submit" value="Send">

     
	</form>

</body>
</html>