<!DOCTYPE html>
<html>
<head>
	<title>New Pet</title>
	<meta charset="utf-8">
</head>
<body>
    <h2>New Pet</h2>
    
    <form action="#">
    	name:<input type="text" required><br>
    	birth_of_date:<input type="date" required><br>
    	breed:<input type="text" required><br>
    	type:<input type="radio" >dog<br>
    	type:<input type="radio" >cat<br>
    	<input type="submit" value="send">
    </form>

</body>
</html>